#head{
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	align-items: start;
	justify-content: space-between;
	position: relative;
	z-index: 100;
	figure{
		max-width: 220px;
		margin-top: 1em;
		transition: all 300ms ease;
		cursor: pointer;
		&:hover{
			
			scale: 1.05;
		}
		.main-logo{
			width: 100%;
			height: 100%;
			scale: 1.4;
		}
		position: relative;
		.decor_back{
			position: absolute;
			top: 0%;
			left: 20%;
			height: 100%;
			aspect-ratio: 1 / 1;
			background: var(--blue);
			z-index: -1;
			scale: 100%;
			border-radius: 100%;
		}
	}

	nav{
		display: flex;
		gap: 3.5em;
		padding: 0em;
		margin: 2em;
		position: relative;
		&::before{
			background: var(--red);
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			top: 0%;
			left: -5%;
			scale: 1.45 .4;
			z-index: -1;
		}
		.nav-link{
			color: #B0B0B0;
			text-decoration: none;
			font-family: var(--fontHead);
			font-weight: 800;
			font-size: 1.1rem;
			transition: all 250ms ease;
			position: relative;
			letter-spacing: 2px;
			&::before{	
				width: 100%;
				height: 100%;
				top: -5%;
				left: 0%;
				position: absolute;
				content: '';
				border-top: 2px solid var(--gold);
				border-bottom: 2px solid var(--gold);
				transition: all 450ms ease;
				// width: 20%;
				scale: 0 1;
			}

			&:hover{
				color: var(--gold);
				&::before{
					scale: 1.4 1;
				}
			}
			&:active{
				scale: .9;
			}
			&.active{
				color: var(--gold);
				font-weight: bold;
				scale: 1.2;
				
				&::before{
					scale: 1.4 1;
				
				}
			}
		}
	}
}